.searchContainer {
    position: fixed;
    top: 50%;
    left: 40%;
}
.searchBar {
    margin-top: 10%;
    font-size: 30px;
}
.parameterComponents{
    font-size:40px;
    width: 500px;
}
.titleContainer{
    height: 40%; 
    text-align:center; 
    display:table;
    width:100%;
}

.titleContainer h1 {
    display:table-cell;
    vertical-align:middle;
    font-size: 60px;
}
.dropDownList {
    font-size: 20px;
}
.textColorOrange {
    background-color: rgb(49, 37, 22);
    background-image: linear-gradient(to bottom, rgba(218, 134, 0, 0.6), transparent);
    color:transparent;
    font-size: 30px;
    background-clip: text;
}
.titleContainer h4 {
    display:table-cell;
    vertical-align:middle;
    font-size: 30px;
}

.mains
{
     padding: 30px;
     text-align: center;
}